# **Impresión bonita de un diccionario en Python**
* Utilice **pprint()** para imprimir un diccionario en Python
* Utilice **json.dumps()** para imprimir un diccionario en Python
* Usar **yaml.dump()** para imprimir un diccionario en Python

# **Utilice pprint() para imprimir un diccionario en Python**

pprint es un módulo de Python que proporciona la capacidad de imprimir de forma bonita los tipos de datos de Python para que sean más legibles. Este módulo también soporta la impresión bonita de diccionarios.

Dentro del módulo pprint hay una función con el mismo nombre pprint(), que es la función que se utiliza para la impresión bonita de la cadena u objeto dado.

Primero, declara un array de diccionarios. Después, imprímelo usando la función **pprint.pprint()**.

In [ ]:
import pprint

dct_arr = [
        { "name": "Mia", "age": 32,"country":"Libano" },
        { "name": "Goku", "age": 33,"country":"Planeta Vegeta" },
        { "name": "Vegueta", "age": 28, "country":"Planeta Vegeta"},
        { "name": "Thor", "age": 48,"country":"Asgard" }
       ]

pprint.pprint(dct_arr)

[{'age': 32, 'country': 'Libano', 'name': 'Mia'},
 {'age': 33, 'country': 'Planeta Vegeta', 'name': 'Goku'},
 {'age': 28, 'country': 'Planeta Vegeta', 'name': 'Vegueta'},
 {'age': 48, 'country': 'Asgard', 'name': 'Thor'}]

In [ ]:
import pprint
dct_arr = [
        { "name": {"nombre":"Mia","apellido":"De Yepiz"}, "age": 32,"country":"Libano" },
        { "name": {"nombre":"Goku","apellido":"Lopez"}, "age": 33,"country":"Planeta Vegeta" },
        { "name": {"nombre":"Vegueta","apellido":"Garcia"}, "age": 28, "country":"Planeta Vegeta"},
        { "name": {"nombre":"Thor","apellido":"De Tello"}, "age": 48,"country":"Asgard" }
       ]
pprint.pprint(dct_arr)

[{'age': 32,
  'country': 'Libano',
  'name': {'apellido': 'De Yepiz', 'nombre': 'Mia'}},
 {'age': 33,
  'country': 'Planeta Vegeta',
  'name': {'apellido': 'Lopez', 'nombre': 'Goku'}},
 {'age': 28,
  'country': 'Planeta Vegeta',
  'name': {'apellido': 'Garcia', 'nombre': 'Vegueta'}},
 {'age': 48,
  'country': 'Asgard',
  'name': {'apellido': 'De Tello', 'nombre': 'Thor'}}]

**IMPRSION NORMAL DE UN DICCIONARIO**

In [ ]:
print (dct_arr)

[{'name': 'Mia', 'age': 32, 'country': 'Libano'}, {'name': 'Goku', 'age': 33, 'country': 'Planeta Vegeta'}, {'name': 'Vegueta', 'age': 28, 'country': 'Planeta Vegeta'}, {'name': 'Thor', 'age': 48, 'country': 'Asgard'}]

La salida de pprint() es definitivamente más legible. Lo que hace es romper cada elemento del diccionario en el array justo después de las comas mientras que también ordena los valores del diccionario por clave.

Si no quiere que sus pares clave-valor estén ordenados por clave, entonces pprint() no es la función que debe utilizar ya que su mecanismo de ordenación está incorporado en la función.

Otra cosa a tener en cuenta es que pprint() no imprimirá bien los objetos anidados, incluyendo los diccionarios anidados. Así que si espera que sus valores estén anidados, entonces esta no es la solución para eso también.

# Utilice json.dumps() para imprimir un diccionario en **Python**

La comprensión de listas es una forma relativamente más corta y muy elegante de crear listas que se formarán en función de los valores dados de una lista ya existente.

Podemos usar la comprensión de listas para devolver una lista que produzca los resultados de la búsqueda de la lista de diccionarios en Python.

El siguiente código usa la comprensión de listas para buscar una lista de diccionarios en Python.

In [ ]:
import json

dct_arr = [
        { "name": {"nombre":"Mia","apellido":"De Yepiz"}, "age": 32,"country":"Libano" },
        { "name": {"nombre":"Goku","apellido":"Lopez"}, "age": 33,"country":"Planeta Vegeta" },
        { "name": {"nombre":"Vegueta","apellido":"Garcia"}, "age": 28, "country":"Planeta Vegeta"},
        { "name": {"nombre":"Thor","apellido":"De Tello"}, "age": 48,"country":"Asgard" }
       ]

print(json.dumps(dct_arr, sort_keys=False, indent=2))

[
  {
    "name": {
      "nombre": "Mia",
      "apellido": "De Yepiz"
    },
    "age": 32,
    "country": "Libano"
  },
  {
    "name": {
      "nombre": "Goku",
      "apellido": "Lopez"
    },
    "age": 33,
    "country": "Planeta Vegeta"
  },
  {
    "name": {
      "nombre": "Vegueta",
      "apellido": "Garcia"
    },
    "age": 28,
    "country": "Planeta Vegeta"
  },
  {
    "name": {
      "nombre": "Thor",
      "apellido": "De Tello"
    },
    "age": 48,
    "country": "Asgard"
  }
]

# **Usar yaml.dump() para imprimir un diccionario en Python**

Otra forma de imprimir un diccionario es utilizando la función dump() del módulo yaml. Sirve el mismo propósito que la función json.dumps() pero en formato YAML en lugar de JSON.

Primero, instala el módulo YAML usando pip:

pip install pyyaml
o si usas Python 3 y pip3:

**pip3 install pyyaml**

Vamos a probarlo con el mismo ejemplo anidado utilizado en el ejemplo JSON.

Fíjate en el nuevo parámetro default_flow_style, que determina si el estilo de salida del volcado debe ser inline o block. En este caso, la salida debe ser de estilo bloque ya que queremos que sea legible, así que establece este parámetro a False.

In [ ]:
import yaml

dct_arr = dct_arr = [
        { "name": "Mia", "age": 32,"country":"Libano" },
        { "name": "Goku", "age": 33,"country":"Planeta Vegeta" },
        { "name": "Vegueta", "age": 28, "country":"Planeta Vegeta"},
        { "name": "Thor", "age": 48,"country":"Asgard" }
       ]

print(yaml.dump(dct_arr, sort_keys=False, default_flow_style=False))

- name: Mia
  age: 32
  country: Libano
- name: Goku
  age: 33
  country: Planeta Vegeta
- name: Vegueta
  age: 28
  country: Planeta Vegeta
- name: Thor
  age: 48
  country: Asgard

In [ ]:
import yaml
dct_arr = [
        { "name": {"nombre":"Mia","apellido":"De Yepiz"}, "age": 32,"country":"Libano" },
        { "name": {"nombre":"Goku","apellido":"Lopez"}, "age": 33,"country":"Planeta Vegeta" },
        { "name": {"nombre":"Vegueta","apellido":"Garcia"}, "age": 28, "country":"Planeta Vegeta"},
        { "name": {"nombre":"Thor","apellido":"De Tello"}, "age": 48,"country":"Asgard" }
       ]

#print(yaml.dump(dct_arr, sort_keys=False, default_flow_style=False))       
x=(yaml.dump(dct_arr, sort_keys=False, default_flow_style=False))
print (x)

# **usar `pd.dataFrame()`   del modulo pandas**

In [6]:
import pandas as pd
lstdict =[
        { "name": "Mia", "age": 32,"country":"Libano" },
        { "name": "Goku", "age": 33,"country":"Planeta Vegeta" },
        { "name": "Vegueta", "age": 28, "country":"Planeta Vegeta"},
        { "name": "Thor", "age": 48,"country":"Asgard" }
       ]
salida=pd.DataFrame(lstdict)
salida

      name  age         country
0      Mia   32          Libano
1     Goku   33  Planeta Vegeta
2  Vegueta   28  Planeta Vegeta
3     Thor   48          Asgard

In [8]:
import pandas as pd
lstdict =[
        { "name": "Mia", "age": 32,"country":"Libano" },
        { "name": "Goku", "age": 33,"country":"Planeta Vegeta" },
        { "name": "Vegueta", "age": 28, "country":"Planeta Vegeta"},
        { "name": "Thor", "age": 48,"country":"Asgard" }
       ]
salida=pd.DataFrame(lstdict)
print(salida)

      name  age         country
0      Mia   32          Libano
1     Goku   33  Planeta Vegeta
2  Vegueta   28  Planeta Vegeta
3     Thor   48          Asgard